{% extends "template.html" %}
{% block content %}
<div class="container-fluid" style="margin-top:10px;"></div>
<div class="bg col-sm-10 col-md-10 offset-sm-1 offset-md-1">
<br>
<br>
<b class="col-md-12" style="font-size:50px;">Welcome to the NHL Dashboard!</b>
<br>
<br>
<br>
<br>
<br>
<b>Team Stats Comparison</b> - Visualizes team performance predictors by rank.
<br>
<b>Last Game Played Stats</b> - Shows the selected teams last opponent and the stats.
This project was made for educational purposes using the NHL api.
<br>
Version 2 by Josh Shigaki and Thomas Nakamoto
{% endblock %}
